<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="httpTest.LoginTest" />
			<class name="httpTest.TestDemo">
				<methods preserve-order="true">
	              <include name="Submit" />
	              <include name="paymentOrde" />
	              <include name="rechargeSwift" />
	            </methods>
	         </class>
		</classes>
	</test>
	<!--配置监听器-->
	<listeners>
        <listener class-name="com.mandou.listener.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>
			